spring:
  application:
    name: config-server-app
    
  cloud:
    config:
      server:
        git:
          uri: https://github.com/raviranj/omf-config-server

server:
  port: 5098    #port number
 
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
  client:
    serviceUrl:
      defaultZone: http://daxzg83339dns.eastus2.cloudapp.azure.com:87611/eureka/
    healthcheck:
      enabled: true
    lease:
      duration: 5
      
   
      

 
